.modal {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  height: fit-content;
  min-height: 150px;
  border-radius: 15px;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  animation: SlideUp 0.2s ease-in-out;
  border: none;
  outline: none;
  overflow-y: scroll;
}

.modal--overlay {
  background-color: #000000a6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 480px) {
}

@keyframes SlideUp {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}
